* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 50px;
}


.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    margin: 0 auto;
    width: 100%;
    height: 120px;
}

.nav-links {
    display: inline;
    align-items: center;
    gap: 30px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5 ease;
}

.nav-links a:hover {
    color: black;
    border: 0;
}

.logo {
    margin: 10px auto;
    text-align: center;
}

.get-started-btn {
    text-align: center;
    background: white;
    border: 1px solid black;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.get-started-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.profile-card-title {
    justify-content: start;
    font-size: 25px;
}

.subtitle {
    color: #777;
    margin-bottom: 25px;    
}

.profile-info {
    width: 900px;
    height: auto;
    max-width: 900px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.03);
}

.profile-header {
    width: 1300px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-circle {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}

.name-box h2 {
    font-size: 20px;
    margin-bottom: 2px;
}

.name-box p {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.desc {
    margin: 20px 0;
    color: #444;
}

.tags {
    margin-bottom: 30px;
}

.level {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 13px;
    margin-right: 8px;
}

.actions {
    display: flex;
    gap: 12px;
}

.btn-view {
    background: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-view:hover {
    background: #302f2f;
    color: white;
}

.btn-contact {
    background: white;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-contact:hover {
    background: black;
    color: white;
}

.pricing-card-title {
    margin: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.pricing-card {    
    width: 500px;
    height: 300px;
    margin-top: 10px;
    display: inline-block;
    width: 300px;
    background: white;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
    position: relative;
}

.pricing-btn {
    margin-top: 105px;
    text-align: center;
    width: 260px;
    gap: 10px;
    background: white;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pricing-btn:hover {
    background: black;
    color: white;
}

.second-pricing-card {
    width: 260px;
    height: 300px;
    margin-top: 10px;
    display: inline-block;
    width: 300px;
    background: white;
    text-align: left;
    padding: 5px 25px;
    border-radius: 10px;
    position: relative;
}   

.second-pricing-btn {
    margin-top: 105px;
    text-align: center;
    width: 250px;
    gap: 10px;
    background: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.second-pricing-btn:hover {
    background: #302f2f;
    color: white;
}

.third-pricing-card {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    gap: 10px;
    width: 300px;
    background: white;
    margin: 10px auto;
    padding: 5px 25px;
    border-radius: 10px;
    position: relative;
}

.third-pricing-btn {
    margin-top: 105px;
    text-align: center;
    width: 250px;
    gap: 10px;
    background: white;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}   

.third-pricing-btn:hover {
    background: black;
    color: white;
}

.pricing-wrapper {
    width: 100%;
    text-align: center;
}

.tip-div {
    width: 900px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}